body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrap {
  width: 900px;
  height: 600px;
  background-image: url("./resources/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
