html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

@font-face {
  font-family: 'KGMissKindyMarker';
  src: url('../font/KGMissKindyMarker.ttf');
}

#canvas {
  background: #222222;
}
